{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Contact Form</h1>
    <p>Fill in this form to contact the site owners.</p>
    
    <form method="POST" action="/">
        {{ form.csrf_token }}

        {{ form.name.label }}
        {{ form.name }}
    
        {{ form.email.label }}
        {{ form.email }}
    
        {{ form.recipient.label }}
        {{ form.recipient }}
    
        {{ form.subject.label }}
        {{ form.subject }}
    
        {{ form.message.label }}
        {{ form.message }}
    
        <button type="submit">Go</button> 
    </form>
</div>
{% endblock %}
